#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body{
  background-color: rgb(255, 255, 255);
  color: rgb(49, 47, 47);
}
h1,p{
  color:#3c4fbb;
}
h3{
  color:#3c4fbb;
  font-size: 18px;
}

button {
  margin: 2px;
  background-color: rgb(255, 255, 255);
  color:#293264;
  border-radius: 7.71px;
  border-color: #3c4fbb;
}
.selected{
  background-color: #D6DBF5;
  color: #293264;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.dimmed{
  opacity: 50%;
}
.check-button{
  margin-top: 30px;
  background-color: #3c4fbb;
  color: white;
}
